<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INFO</title>
</head>
<body>
<h1>Характеристики</h1>
<table border="1">
    <thead>
    <tr>
        <th>Название характеристики</th>
        <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Текущая дата</td>
        <td>[[${formattedDate}]]</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Операционная система</td>
        <td>[[${osName}]]</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Версия OS</td>
        <td>[[${osVersion}]]</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td>Архитектура ОС</td>
        <td>[[${osArch}]]</td>
    </tr>
    </tbody>

</table>

<!--<p> Текущая дата:[[${formattedDate}]]</p>-->
<!--<p>Операционная система:[[${osName}]]</p>-->
<!--<p>Версия OS: [[${osVersion}]]</p>-->
<!--<p>Архитектура ОС: [[${osArch}]]</p>-->

</body>
</html>